.header
	position fixed
	top 0 
	right 0
	left 0
	z-index 10
	*
		transition all .1s linear
	&__contact
		font-size .8em
		padding-right $padding_section
		padding-left $padding_section
		background-color black
		color $text_dark
		overflow: hidden
		height 2.5rem
		&__content
			height: 2.5rem
			display flex
			align-items center
			i
				padding 3px
			&__number
				margin-right 4rem
			&__mail
				margin-right 4rem
	&--small
		.header
			&__contact
				height 0rem
		.nav
			height 4rem
			&__list
				top 4rem
			&__item
				font-size .65em
			&__logo
				img
					height 3rem
.nav
	text-transform: uppercase
	display flex
	padding-right $padding_section
	padding-left $padding_section
	display flex
	align-items center
	justify-content space-between
	height 5rem
	&__list
		display flex
		list-style-type: none
		&--footer
			flex-direction column
			margin: 0
			li
				margin: 5px 0
				a
					color #333
	&__item
		letter-spacing 1px
		font-size .88em
		a
			color white
			padding 1rem
	&__logo
		line-height: 0
		margin 0 3rem
		img
			height: 3.5rem
	i
		display none
			
@media screen and (max-width: 1024px)
	.nav
		&__item
			font-size: .7em
			
@media screen and (max-width: 768px)
	.header
		&__contact
			padding-right 5vh
			padding-left 5vh
			&__content
				justify-content space-between
				&__number
					display none
					margin 0
				&__mail
					margin: 0
	.nav
		position: relative
		padding 0 5vh
		&__list
			height 0rem
			overflow hidden
			box-sizing border-box
			padding: 0
			margin: 0
			background-color: $secundary
			position: absolute
			flex-direction column
			top 5rem
			width: 100%
			left: 0
			text-align: center
			font-size: 1.5rem
			&--show
				height auto
				padding 1.4rem 0
		&__item
				padding: 1.4rem
		&__logo
			margin: 0
		i
			display block
			font-size 2rem