.clients
	background-color: white
	&__container
		display flex
		justify-content center
	&__items
		width: 10em
		height: 10em
		background-color: white
		margin: 0 1rem
		border none


.portafolio
	&__container
		width 40%
		margin: auto
		text-align: center
		font-family: NexaLight
		font-weight: 200
		h2
			font-size: 3.5rem
		p
			font-size: .9rem !important