@import "../../node_modules/normalize.css/normalize.css"

@font-face
   font-family NexaBold
   font-style bold
   src url(/assets/NexaBold.otf)
  
@font-face
   font-family NexaLight
   font-style light
   src url(/assets/NexaLight.otf)

$primary_1 = #ba007c
$primary_2 = #009bdb
$secundary = #733ba0
$text_dark = gray
$text_light = white
$padding_section = 14vw

body
  background: linear-gradient(to right,  $primary_1 0%, $primary_2 100%)
  color: $text_light
  font-family NexaBold, sans-serif
  padding-top 7.5rem
a
	color gray
	text-decoration: none
p i
  text-align: center
  width: 13px
  margin-right: 8px

@import "./blocks/utils"
@import "./blocks/social"
@import "./blocks/contact"
@import "./blocks/footer"
@import "./blocks/header"
@import "./blocks/portafolio"
@import "./blocks/services"
@import "./blocks/slider"





		

