<!doctype html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ADNbyte - Aplicaciones y Desarrollo Web</title>
        <meta name="description" content="******!!!!!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header class="header section--style_1">
            <div class="header__contact">
              <div class="header__contact__content">
                <span class="header__contact__content__number"><i class="fa fa-mobile" aria-hidden="true"></i>964 996 185</span>
                <span class="header__contact__content__mail"><i class="fa fa-paper-plane" aria-hidden="true"></i><a href="mailto:adnbyte@adnbyte.com">adnbyte@adnbyte.com</a></span>
                <div class="social social--header header__contact__content__social">
                  <a href="#" class="social__item social__fb">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="social__item social__tw">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="social__item social__yt">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="social__item social__gp">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="nav">
              <a href="#">
                <div class="nav__logo">
                  <img src="/assets/adnbyte.svg" alt="logo_adnbyte">
                </div>
              </a>
              <ul class="nav__list">
                <li class="nav__item"><a href="#">Inicio</a></li>
                <li class="nav__item"><a href="#servicios">Servicios</a></li>
                <li class="nav__item"><a href="/portafolio">Portafolio</a></li>
                <li class="nav__item"><a href="/contacto">Contacto</a></li>
              </ul>
            </div>
        </header>
          <article class="section portafolio">
          <div class="portafolio__container">
            <h2>Portafolio</h2>
            <p>Las aplicaciones móviles son el nuevo boom digital En cualquier lugar y en cualquier momento tus clientes pueden acceder a toda la información de tu marca solo con disponer de un dispositivo móvil. Facilita a los usuarios interactuar con nuestro negocio y conseguir información de nuestros servicios/productos más fácilmente</p>
          </div>
          </article>
          <article id="call_to_action" class="section section--style_1 call_to_action">
              <div>
                <h2 class="call_to_action__slogan">
                  Simple<br>
                  Práctico<br>
                  Flexible<br>
                </h2>
              </div>
            <a href="#" class="call_to_action__interactua button">
              Interactua
            </a>
            <h2 class="call_to_action__label">
              Pide tu cotización aquí
            </h2>
          </article>

          <article class="parallax">
            <div class="parallax__img">
              
            </div>
          </article> 

        </div>
        <footer class="footer section">
          <ul class="nav__list nav__list--footer footer__nav">
                <li class="nav__item">Inicio</li>
                <li class="nav__item">Servicios</li>
                <li class="nav__item">Portafolio</li>
                <li class="nav__item">Contacto</li>
          </ul>
          <div class="footer__logo">
            <img src="/assets/adnbyte_alter.png" alt="" class="footer__logo">
          </div>
          <div class="footer__contact">
            <div class="social social--header">
                  <a href="#" class="social__item social__fb">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="social__item social__tw">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="social__item social__yt">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="social__item social__gp">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                  </a>
            </div>
            <p>Calle Sucre 183 of. 305, Miraflores</p>
            <p>964 996 185</p>
            <p>interactua@adnbyte.com</p>
          </div>
          <div class="footer__huella">
            <img src="/assets/huella.png" alt="">
          </div>
        </footer>
        <div class="copy">
          <h5>ADNbyte, derechos reservados</h5>        
        </div>
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="https://use.fontawesome.com/41cacd161c.js"></script>
        <script src="/js/main.js"></script>

        <!-- Google Analytics-->
        <!-- End Google Analytics-->
    </body>
</html>